.post{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding:15px;
    margin:10px;
    margin-bottom: 0px;
    background-color: var(--light-colour);
    font-family: 'Montserrat', sans-serif;
    color: var(--darkgreen-colour);
    cursor: pointer;
}

.postImage {
    width: 250px;
    align-self:center;
    border-radius: 10px;
    height: 200px;
}

.postTitle{
    font-size: 30px;
}

.postLocation{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 15px;
}

.postDescription{
    font-size: 15px;
    font-weight:300
}


.modal-content2{
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: var(--light-colour);
    border-radius: 5px;
    width: 440px;
}
.img-container{
    width: 250px;
    height: 200px;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 15px;
    align-self:center;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

@media (max-width: 600px) {

}

.closeButton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
.closeButton button {
    background: none; /* Remove the background color */
    border: none; /* Remove the border */
    color: #919191; /* Set the color of the "X" */
    font-size: 24px; /* Adjust the font size as desired */
    cursor: pointer;
    
}