.nav-search, input {
  width:500px;
  background-color: white;
  display: inline;
  padding: 10px;
  border: none;
  border-radius: 10px;
  position: relative;
  top: 30%;
}

.nav-search {
  width: 250px;
  margin-right: 10px;
}

button.nav-search {
  background-color: var(--darkgreen-colour);
  color: var(--light-colour);
  cursor: pointer;
  width: 50px;
}