.search-bar {
  width: 400px;
  height:30px;
  margin-right: 10px;
  border: none;
  outline: none;
  justify-self: center;
  font-size: large;
  align-self: center;
 
}

.search-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
  background: none;
  width:30px;
  height:auto;
  padding-right: 38px
}

#searchfield{
  height: 50px;
  width: 500px;
  background-color: white;
  display: flex;
  border: none;
  border-radius: 30px;
  justify-content: space-between;
  align-content: center;
  padding-right: 15px;
  padding-left: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #B8B9B6;
}

input:focus::placeholder {
  color: transparent;
}