/* :root {
  --background-color
} */


body {
  background-color: #82ad8b;
}

nav {
  display: flex; 
  width: 95%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: whitesmoke;
  position:fixed;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

#logo {
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;
  position: relative;
  right: 22%;
}

#profile-pic {
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;
  position: absolute;
  left: 100%;
  
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}