
.postPopup {
    background-color: var(--light-colour);
    border-radius: 5px;
    display:flex;
    flex-direction: column; 
    padding: 10px;
    
    
}

.productSection{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.closeButton{
    align-self: flex-start;
    justify-self: flex-end;
    width: 50px;
    
}
.closeButton button {
    background: none; /* Remove the background color */
    border: none; /* Remove the border */
    color: #919191; /* Set the color of the "X" */
    font-size: 24px; /* Adjust the font size as desired */
    cursor: pointer;
    padding-left: 70%;
}



.image{
    height: 150px;
    width: 200px;
}
.productInfo{
    justify-self:flex-start;
}

.commentSection{
    padding-top: 15px;
}