/* :root {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */




#Auth {
width: 25vw;
padding-top: 100px;
margin-left: 2.5%;
}

#signIn {

background-image: url('/backgroundimage.jpg'); 
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100vw;
height: 100vh;
position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Quicksand', sans-serif;
    
}



